@using TodoList.Dtos
@model List<UserDto>

<h3>Testing Todos</h3>

<table>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FullName</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var todo in @Model)
        {
        <tr>
          <th scope="row"></th>
          <td>@todo.FullName</td>
        </tr>
        }
  </tbody>
</table>